body {
    background-color: rgb(31, 31, 31);
    color: rgb(220, 220, 220);
    font-family: Arial, sans-serif;
}

.container {
    background-color: black;
    padding: 25px;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}
.img{
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}
.img:hover {
    transform: scale(2);
    transition: 3s;
  animation: pulse 2s infinite alternate;
}


h1{
text-align: center;
gap: 2%;
background-color: rgb(0, 0, 0);
border-radius: 10px;
}

p{
text-align: center;
}


.container h2 {
    color: white;
    margin-bottom: 20px;
}

.container input,
.container textarea {
    width: 100%;
    padding: 2%;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    font-size: 15px;
}

.container textarea {
    height: 100px;
    resize: none;
}

.container input[type="submit"] {
    background-color: rgb(153, 161, 153);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

ul{
justify-content: center;
display: flex;
gap: 2%;
}

.container input[type="submit"]:hover {
    background-color: rgb(67, 67, 67);
;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(61, 59, 58);
    background-color: rgb(37, 37, 37);
}



footer{
text-align: center;
}

.img{
display: block;
margin: 20px auto;border-radius: 5px;
}

