body {
    background-color: rgb(31, 31, 31);
    color: rgb(220, 220, 220);
}

.container {
    background-color: black;
    padding: 25px;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 12px;
    text-align: center;
}

.container h2 {
    color: white;
    margin-bottom: 20px;
}

.container input,
.container textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: none;
    font-size: 14px;
}

.container textarea {
    height: 100px;
    resize: none;
}

.container input[type="submit"] {
    background-color: green;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.container input[type="submit"]:hover {
    background-color: green;
}
